.form_box{
    font-size: 20px;
    padding: 30px 0 0 50px;
    color: rgb(218, 212, 245);
}

.text_box{
    padding-top: 10px;
}

.text_box input{
    border: none;
    outline: none;
    background-color: rgb(236, 232, 253);
    font-size: 16px;

    margin-top: 10px;
    padding: 5px;
}

.submit_btn{
    color: white;
    padding: 10px;
    margin-left: 15px;
    font-size: 15px;
    
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #401f92, #4d29af);
}


